extends layout

block content
  form(action='/board/update' method='post')
    div.form-group
      - rid = encodeURIComponent(board['@rid'])
      input(type='hidden' name='rid' value=rid)
      label(for='title') 제목
      input(type='text' name='title' value=board.TITLE class='form-control')
    div.form-group
      label(for='contents') 내용
      input(type='text' name='contents' value=board.CONTENTS class='form-control input-lg')
    p.btn.btn-primary 수정
